---
import BaseLayout from '../BaseLayout.astro'
import Naslov from '../components/Naslov.astro'
import Zahtevi from '../components/Zahtevi.astro'
import Broj from '../components/Broj.astro'
import Zahtev from '../components/Zahtev.astro'
import Konkretizacija from '../components/Konkretizacija.astro'
import Fusnote from '../components/Fusnote.astro'
---

<BaseLayout
    lang="en"
    title="STUDENT DEMANDS"
    description="Concrete demands of Serbian university students in blockades since November 2024."
    >
    <Naslov>Serbian Students' Demands Amid University Sit-ins</Naslov>
    <Zahtevi>
        <div class="stagger-container-1 flex flex-col mb-6">
            <Broj>
                I.
            </Broj>
            <Zahtev>
                Publication of the complete documentation concerning the reconstruction of the Novi Sad Railway Station, which is currently inaccessible to the public.
            </Zahtev>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">CONCRETELY: </span>
                    Students demanded the release of the full documentation related to the reconstruction of the Novi Sad Railway Station. The initial response to this request was that only the Public Prosecutor’s Office possessed the documentation, but shortly afterward it was partially published by other state authorities. Our colleagues from technical faculties, as well as from the Association of Architects of Serbia, noticed that the published documents lack key materials necessary for establishing the criminal liability of those who oversaw the reconstruction of the Railway Station and were involved in it.
                </p>
                <p>
                    Specifically missing are the contracts that show who worked on the Railway Station and how much it cost, why the reconstruction cost increased fivefold, and who is responsible for the fact that the Railway Station was ceremonially opened twice without an occupancy permit.
                </p>
            </Konkretizacija>
        </div>

        <div class="stagger-container-2 flex flex-col mb-6">
            <Broj>
                II.
            </Broj>
            <Zahtev>
                We demand confirmation from the relevant authorities of the identity of all persons for whom there is reasonable suspicion that they physically assaulted students and professors, and we also demand the initiation of criminal proceedings against them. Furthermore, we demand the dismissal of these persons if it is shown that they hold public office.
            </Zahtev>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">CONCRETELY: </span>
                    Due to the inaction of the Ministry of the Interior (MUP) regarding this request, on December 2, 2024, a full professor and the Dean of the Faculty of Dramatic Arts (FDU) filed a criminal complaint on behalf of the faculty with the Third Basic Public Prosecutor’s Office. The complaint refers to individuals for whom there is reasonable suspicion that on November 22, 2024, they physically attacked students and professors of the aforementioned faculty, thereby committing the criminal offense of Violent Behavior at a Public Gathering or Sporting Event.<sup>1</sup>
                </p>
                <p>
                    The individuals identified by the Higher Public Prosecutor’s Office in Belgrade are:
                </p>
                <ul class="list-decimal ml-6 md:ml-12 2xl:ml-20">
                    <li>Milija Koldžić</li>
                    <li>Aleksandar Jokić</li>
                    <li>Dušan Kostić</li>
                    <li>Milena Aleksić</li>
                    <li>Ivan Stanišić</li>
                </ul>
                <p class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">
                    This request applies both to the individuals listed above and to any future person who may physically attack students and professors and all other persons participating in peaceful civic gatherings.
                </p>
                <p>
                    According to publicly available information, the same request is being extended to individuals whose identity has not yet been confirmed by the relevant authorities, but who are suspected to be:
                </p>
                <ul class="list-decimal ml-6 md:ml-12 2xl:ml-20">
                    <li>Tatjana Makević Nikolić</li>
                    <li>Dražen Đurđić, President of the Municipality of Sremski Karlovci</li>
                    <li>Miljan Vračarević</li>
                    <li>Predrag Veselinović</li>
                    <li>Mladen Radenković, Chief of the Department for Public Order and Peace of the Belgrade Police Directorate.</li>
                    <li>Aleksandar Čavić, Councilor in the Assembly of the City of Belgrade</li>
                    <li>Petar Čavić</li>
                    <li>Gavrilo Kovačević, President of the City Municipality of Zemun</li>
                    <li>Dejan Paunović, Commissioner of the Municipal Board of Rakovica</li>
                    <li>Igor Ćogić</li>
                    <li>Vesna Čingelić, Member of the Council of the Municipality of Rakovica</li>
                    <li>Ćoko Nenadić</li>
                    <li>Stefan Pantelić Stefanović, Member of the Council of the City Municipality of New Belgrade</li>
                    <li>Luka Roganović</li>
                </ul>
                <p>
                    In addition to initiating criminal proceedings against individuals who physically attacked professors and students, and for whom this will yet be confirmed, if it is established that these individuals are public officials, pursuant to Article 2, Paragraph 1, Points 3-4 of the Law on the Prevention of Corruption<sup>2</sup> and Article 112, Paragraph 3 of the Criminal Code,<sup>3</sup> we simultaneously demand that they be relieved of their duties.
                </p>

                <hr class="w-1/2 border border-zinc-200 dark:border-zinc-800 mt-4" />
                <Fusnote>
                    <span><sup class="font-normal">1</sup> Criminal Code of the Republic of Serbia (CC RS), Official Gazette of the Republic of Serbia, Nos. 85/2005, 88/2005 – correction, 107/2005 – correction, 72/2009, 111/2009, 121/2012, 104/2013, 108/2014, 94/2016, 35/2019 and 94/2024, Art. 344, Art. 344a.</span>
                    <span><sup class="font-normal">2</sup> The Law on the Prevention of Corruption, Official Gazette of the Republic of Serbia, Nos. 35/2019, 88/2019, 11/2021 - authentic interpretation, 94/2021, and 12/2022, Article 2, Paragraph 1, Points 2-3.</span>
                    <span><sup class="font-normal">3</sup> The Criminal Code of the Republic of Serbia, Article 112, Paragraph 3.</span>
                </Fusnote>
            </Konkretizacija>
        </div>

        <div class="stagger-container-3 flex flex-col mb-6">
            <Broj>
                III.
            </Broj>
            <Zahtev>
                The withdrawal of criminal charges against arrested and detained students during the protests, as well as the suspension of already initiated criminal proceedings.
            </Zahtev>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">CONCRETELY: </span>
                    In the previous period, government representatives stated that all participants in the civic protests had been released. However, this is not considered fulfillment of the demand.
                </p>
                <p class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">
                    The reason is that release from custody does not guarantee that these individuals will not be criminally prosecuted or that a conviction will not be rendered against them. In light of the above, we demand the withdrawal of all criminal charges against students and professors participating in the civic protests, and if criminal proceedings are already in progress, that they be terminated.
                </p>
            </Konkretizacija>
        </div>

        <div class="stagger-container-4 flex flex-col mb-6">
            <Broj>
                IV.
            </Broj>
            <Zahtev>
                An increase of 20% in the funding allocated to state universities.
            </Zahtev>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">CONCRETELY: </span>
                    Allocations for higher education, as provided by the Budget Law of the Republic of Serbia for 2025, from the sources of General Revenues and Budget Receipts, amount to
                    <span class="font-bold">60.15 billion dinars.</span>
                    The allocations for higher education include budget items
                    <span class="italic">Higher and University Education</span>
                    (Chapter 26.5) and
                    <span class="italic">The University of Criminal Investigation and Police Studies</span>
                    (Chapter 15.1).<sup>1</sup>
                </p>
                <p>
                    Students have rightfully
                    <span class="font-bold">demanded</span>
                    an increase of 20% in the previously mentioned funds (i.e., an increase of approximately
                    <span class="font-bold">12.03 billion dinars,</span>
                    or
                    <span class="font-bold">102.8 million euros</span>
                    ), which would bring the level of investment in higher education closer to the investment levels of Central and Eastern European countries (
                    <span class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">1.71% of GDP</span>
                    , according to the methodology of the
                    <span class="italic">OECD</span>
                    ).<sup>2 3</sup>
                </p>
                <p class="font-bold">
                    Why has the demand not been fulfilled?
                </p>
                <p>
                    An increase of 20% in "material expenses" was announced, which would lead to an overall budget increase of only 4% (i.e., 22 million euros).
                    <span class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">"Material expenses," therefore, refer to <span class="font-bold">only a segment of the budget</span> for <span class="italic">Higher and University Education</span></span>
                </p>
                <p>
                    Instead of the requested improvement in the quality of higher education, part of the public was misled into believing that the demand had been fulfilled.<sup>4</sup>
                </p>
                <p class="text-center font-bold text-red-700 mt-4">
                    Justification of the Demand
                </p>
                <p>
                    The availability, accessibility, and quality of higher education are standards of a progressive society, and its funding must not be questionable. The state is obligated to ensure conditions in which higher education is a choice accessible to everyone, with a quality that is competitive on global university rankings. By shifting the financial burden from students to budgetary funding, the conditions for studying at all levels of education would be significantly improved, enabling greater participation of financially disadvantaged categories of society in higher education.
                </p>
                <p>
                    Therefore,
                    <span class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">we demand</span>
                    the introduction of a
                    <span class="font-bold">new allocation</span>
                    which, following amendments to the Law on Higher Education, would provide faculties with funds
                    <span class="font-bold">equal to 50% of the total value of ECTS credits</span>
                    that students would otherwise pay. This would increase allocations for higher education
                    <span class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">without changing the price of an ECTS credit itself</span>
                    (which is determined by the faculties), and
                    <span class="font-bold">students would pay 50% lower tuition fees of the total amount.</span>
                    We consider this to be the first step toward free education. Furthermore, we demand that the remaining funds be evenly distributed among other budgetary items under
                    <span class="italic">Student Standards</span> and <span class="italic">Higher and University Education,</span>
                    excluding salaries and other employee income.
                </p>
                <hr class="w-1/2 border border-zinc-200 dark:border-zinc-800 mt-4" />
                <Fusnote>
                    <span><sup>1</sup> BUDGET LAW, ("Official Gazette of the Republic of Serbia", No. 94/2024)</span>
                    <span><sup>2</sup> OECD (2024), <span class="italic">Education at a Glance 2024: OECD Indicators,</span> OECD Publishing, Paris</span>
                    <span><sup>3</sup> OECD (2018), <span class="italic">OECD Handbook for Internationally Comparative Education Statistics 2018: Concepts, Standards, Definitions, and Classifications,</span> OECD Publishing, Paris (data does not include funds allocated for science and research)</span>
                    <span><sup>4</sup> Additionally, the resolution that would enable the aforementioned increase is not publicly available as of the date of this text (December 30, 2024).</span>
                </Fusnote>
            </Konkretizacija>
        </div>
    </Zahtevi>
</BaseLayout>

<script is:inline type="module" data-astro-rerun>
    const { animate, inView, stagger } = Motion
    for (let i = 1; i < 5; i++) {
        inView(".stagger-container-" + i, ({ target }) => {
            animate(".stagger-container-" + i + "> .stagger-in",
                { opacity: [0, 1]},
                { delay: stagger(0.3), duration: 0.6},
                { ease: [0.39, 0.24, 0.3, 1] },
            );
        })
    }
    inView(".fade-in", ({ target }) => {
        animate(target,
         	{ opacity: [0, 1]},
      		{ duration: 0.6},
            { ease: [0.39, 0.24, 0.3, 1] },
        );
    })
</script>
