---
import BaseLayout from '../BaseLayout.astro'
import Konkretizacija from '../components/Konkretizacija.astro'
---

<BaseLayout
    lang="sr-Cyrl-CS"
    title="СТУДЕНТСКИ ЗАХТЕВИ"
    description="Конкретизовани захтеви студената Србије који су у блокадама од новембра 2024. године."
    >
    <h1 class="fade-in font-bold text-4xl md:text-6xl text-center mb-6">Захтеви студената у блокадама:</h1>
    <div class="flex flex-col gap-6 max-w-3xl mx-auto">

        <div class="stagger-container-1 flex flex-col mb-6">
            <div class="stagger-in text-5xl md:text-5xl font-bold text-center mb-2 text-red-700">
                I.
            </div>
            <p class="stagger-in text-xl md:text-2xl text-center font-bold mb-4">
                Објава целокупне документације која се тиче реконструисања железничке станице у Новом Саду која је тренутно недоступна јавности.
            </p>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">КОНКРЕТИЗАЦИЈА: </span>
                    Студенти су захтевали да се објави комплетна документација у вези са реконструкцијом Железничке станице у Новом Саду. Првобитни одговор на овако постављен захтев био је да документацијом располаже само Тужилаштво, да би убрзо након тога она била непотпуно објављена од стране других државних органа. Наше колеге са техничких факултета, као и са Удружења архитеката Србије, уочиле су да у објављеним документима недостаје кључна документација неопходна за утврђивање кривичне одговорности лица која су руководила реконструкцијом Железничке станице и била на њој ангажована.
                </p>
                <p>
                    Конкретно недостају уговори који показују ко је шта радио на Железничкој станици и колико је то коштало, зашто је цена реконструкције скочила пет пута, као и ко је одговоран што је Железничка станица два пута свечано отварана без употребне дозволе.
                </p>
            </Konkretizacija>
        </div>

        <div class="stagger-container-2 flex flex-col mb-6">
            <div class="stagger-in text-5xl md:text-5xl font-bold text-center mb-2 text-red-700">
                II.
            </div>
            <p class="stagger-in text-xl md:text-2xl text-center font-bold mb-4">
                Захтевамо потврду надлежних органа о идентитету свих лица за која постоји основана сумња да су физички напала студенте и професоре, као и покретање кривичних поступака против њих. Такође захтевамо разрешење поменутих лица уколико се покаже да су иста јавни функционери.
            </p>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">КОНКРЕТИЗАЦИЈА: </span>
                    Због неажурности МУП-а у погледу наведеног захтева, редовни професор и декан Факултета драмских уметности (ФДУ) је 2.12.2024. у име факултета поднео кривичну пријаву Трећем основном јавном тужилаштву. Поднета кривична пријава се односи на лица за која постоји основана сумња да су дана 22.11.2024. физички насрнула на студенте и професоре поменутог факултета, те да су извршила кривично дело Насилничко понашање на јавном скупу или спортској приредби.<sup>1</sup>
                </p>
                <p>
                    Наведена лица, која је идентификовало Више јавно тужилаштво у Београду, су:
                </p>
                <ul class="list-decimal ml-12">
                    <li>Милија Колџић</li>
                    <li>Александар Јокић</li>
                    <li>Душан Костић</li>
                    <li>Милена Алексић</li>
                    <li>Иван Станишић</li>
                </ul>
                <p class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">
                    Поменути захтев се односи како на наведена лица, тако и на свако будуће лице које буде физички напало студенте и професоре и сва друга лица која учествују у мирним грађанским окупљањима.
                </p>
                <p>
                    Према информацијама доступним јавности, исти захтев це проширује и на лица чији идентитет још увек није потврђен од стране надлежних органа, а за која се сумња да су:
                </p>
                <ul class="list-decimal ml-12">
                    <li>Татјана Макевић Николић</li>
                    <li>Дражен Ђурђић, председник општине Сремски Карловци</li>
                    <li>Миљан Врачаревић</li>
                    <li>Предраг Веселиновић</li>
                    <li>Младен Раденковић, начелник одељења за јавни ред и мир ПУ Београд</li>
                    <li>Александар Чавић, одборник у Скупштини града Београда</li>
                    <li>Петар Чавић</li>
                    <li>Гаврило Ковачевић, председник градске општине Земун</li>
                    <li>Дејан Пауновић, повереник општинског одбора Раковица</li>
                    <li>Игор Ћогић</li>
                    <li>Весна Чингелић, чланица Већа општина Раковица</li>
                    <li>Ћоко Ненадић</li>
                    <li>Стефан Пантелић Стефановић, члан Већа Градске општине Нови Београд</li>
                    <li>Лука Рогановић</li>
                </ul>
                <p>
                    Поред покретања кривичног поступка против лица која су физички нападала професоре и студенте, и за која ће се то тек потврдити, а ако се испостави да су та лица јавни функционери, у смислу чл. 2, ст. 1, тач. 3-4 Закона о спречавању корупције<sup>2</sup> и чл. 112, ст. 3 Кривичног закониа,<sup>3</sup> упоредо захтевамо да се иста разреше дужности.
                </p>
                <hr class="w-1/2 border border-zinc-200 dark:border-zinc-800 mt-4" />
                <div class="flex flex-col font-bold text-xs">
                    <span><sup class="font-normal">1</sup> Кривични законик - КЗ РС, Сл. гласник РС, бр. 85/2005, 88/2005 - испр., 107/2005 - испр., 72/2009, 111/2009, 121/2012, 104/2013, 108/2014, 94/2016, 35/2019 и 94/2024, чл. 344, чл. 344а.</span>
                    <span><sup class="font-normal">2</sup> Закон о спречавању корупције, Цл. гласник РС, бр. 35/2019, 88/2019, 11/2021 - аутентично тумачење, 94/2021 и 12/2022, чл. 2, ст. 1, тач. 2-3.</span>
                    <span><sup class="font-normal">3</sup> КЗ РС, чл. 112, ст. 3.</span>
                </div>
            </Konkretizacija>
        </div>

        <div class="stagger-container-3 flex flex-col mb-6">
            <div class="stagger-in text-5xl md:text-5xl font-bold text-center mb-2 text-red-700">
                III.
            </div>
            <p class="stagger-in text-xl md:text-2xl text-center font-bold mb-4">
                Одбацивање кривичних пријава против ухапшених и приведених студената на протестима, као и обуставу већ покренутих кривичних поступака.
            </p>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">КОНКРЕТИЗАЦИЈА: </span>
                    У претходном периоду представници власти су констатовали да су сви учесници грађанских протеста пуштени на слободу. Међутим, то се не сматра испуњењем захтева.
                </p>
                <p class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">
                    Разлог који стоји иза иза тога јесте тај што пуштање на слободу из притвора не гарантује да та лица неђе бити кривично гоњена, нити да против њих неђе бити донета осуђујућа пресуда. У складу с изнетим, захтевамо да се против свих студената и професора учесника грађанских протеста одбаце кривичне пријаве, а уколико је кривични поступак у току, да се исти обустави.
                </p>
            </Konkretizacija>
        </div>

        <div class="stagger-container-4 fade-in flex flex-col mb-6">
            <div class="stagger-in text-5xl md:text-5xl font-bold text-center mb-2 text-red-700">
                IV.
            </div>
            <p class="stagger-in text-lg md:text-2xl text-center font-bold mb-4">
                Повећање издвојених средстава за државне факултете у износу од 20%.
            </p>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">КОНКРЕТИЗАЦИЈА: </span>
                    Издвајања за високо образованје предвиђена Законом о буџету Републике Србије за 2025. годину из извора Општих прихода и примања буџета износе
                    <span class="font-bold">60,15 милијарди динара.</span>
                    У састав издавања за високо образовање улазе ставке буџета
                    <span class="italic">Више и универзитетско образовање</span> (глава 26.5) и
                    <span class="italic">Криминалистичко полицијски универзитет </span> (глава 15.1).<sup>1</sup>
                </p>
                <p>
                    Студенти су са пуним правом
                    <span class="font-bold">захтевали </span>
                    повећање у износу од 20% претходно поменутих средстава (тј. повећање за око
                    <span class="font-bold">12,03 милијарди динара,</span>
                    односно
                    <span class="font-bold">102,8 милиона евра</span>
                    ), које би ниво улагања у високо образовање приближило нивоу улагања земаља централне и источне Европе (
                    <span class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">1,71% БДП</span>
                    , према методологији
                    <span class="italic">OECD</span>
                    ).<sup>2 3</sup>
                </p>
                <p class="font-bold">
                    Зашто захтев није испуњен?
                </p>
                <p>
                    Најављено је повећање "материјалних трошкова" за 20% које би довело до повећања укупног буџета у износу од тек 4% (тј. 22 милиона евра).
                    <span class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">"Материјални трошкови", дакле, означавају <span class="font-bold">тек сегмент буџета</span> за <span class="italic">Више и универзитетско образовање</span></span>
                </p>
                <p>
                    Уместо захтеваног побољшања квалитета високог образовања, део јавности доведен је у заблуду да је захтев испуњен.<sup>4</sup>
                </p>
                <p class="text-center font-bold text-red-700">
                    Образложење захтева
                </p>
                <p>
                    Доступност, приступачност и квалитет високог образовања су стандард прогресивног друштва и његово финансирање не сме бити упитно. Држава је дужна да обезбеди услове у којима је високо образовање избор који је доступан свима, уз квалитет који је конурентан на светским ранг-листама универзитета. Пребацивањем финансијског терета са студената на примања из буџета значајно би се олакшали услови студирања на свим нивоима студија, те би се омогућила већа партиципација финансијски угрожених категорија друштва у високом образовању.
                </p>
                <p>
                    Стога,
                    <span class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">захтевамо</span>
                    увођење
                    <span class="font-bold">новог давања </span>
                    које би, након измене и допуне Закона о високом образовању, факултетима обезбедило средства
                    <span class="font-bold">у висини од 50% укупне вредности ЕСПБ бодова </span>
                    које би студенти иначе плаћали. Тиме би се издвајања за високо образовање повећала,
                    <span class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">без промене саме цене ЕСПБ бода </span>
                    (коју одређују факултети), а
                    <span class="font-bold">студенти би плаћали 50% нижу школарину од целокупног износа. </span>
                    Сматрамо да је ово први корак ка бесплатном образовању. Даље, захтевамо да се остатак цредстава равномерно расподели између осталих ставки буџетских глава
                    <span class="italic">Студентски стандард </span> и <span class="italic">Више и универзитетско образовање, </span>
                    изузимајући зараде и др. приходе запослених.
                </p>
                <hr class="w-1/2 border border-zinc-200 dark:border-zinc-800 mt-4" />
                <div class="flex flex-col text-xs">
                    <span><sup>1</sup> ЗАКОН О БУЏЕТУ, ("Цл. гласник РС", бр. 94/2024)</span>
                    <span><sup>2</sup> OECD (2024), <span class="italic">Education at a Glance 2024: OECD Indicators,</span> OECD Publishing, Paris</span>
                    <span><sup>3</sup> OECD (2018), <span class="italic">OECD Handbook for Internationally Comparative Education Statistics 2018: Concepts, Standards, Definitions, and Classifications,</span> OECD Publishing, Paris (податак не укључује средства издвојена на науку и истраеживања)</span>
                    <span><sup>4</sup> Такође, решење које би довело до поменутог повећања није јавно доступно на дан писања текста (30.12.2024).
                </div>
            </Konkretizacija>
        </div>
    </div>
</BaseLayout>

<script is:inline type="module" data-astro-rerun>
    const { animate, inView, stagger } = Motion
    for (let i = 1; i < 5; i++) {
        inView(".stagger-container-" + i, ({ target }) => {
            animate(".stagger-container-" + i + "> .stagger-in",
                { opacity: [0, 1]},
                { delay: stagger(0.3), duration: 0.6},
                { ease: [0.39, 0.24, 0.3, 1] },
            );
        })
    }
    inView(".fade-in", ({ target }) => {
        animate(target,
         	{ opacity: [0, 1]},
      		{ duration: 0.6},
            { ease: [0.39, 0.24, 0.3, 1] },
        );
    })
</script>
