---
import BaseLayout from '../BaseLayout.astro'
---

<BaseLayout lang="en" title="СТУДЕНТСКИ ЗАХТЕВИ">
    <h1 class="font-bold text-3xl md:text-6xl text-center mb-6">Захтеви студената у блокадама:</h1>
    <div class="flex flex-col gap-6 max-w-3xl mx-auto">

        <div class="flex flex-col mb-6">
            <div class="text-5xl md:text-5xl font-bold text-center mb-2 text-red-700">
                I.
            </div>
            <p class="text-lg md:text-2xl text-center font-bold mb-4">
                Објава целокупне документације која се тиче реконструисања железничке станице у Новом Саду која је тренутно недоступна јавности.
            </p>

            <div class="px-8 py-6 rounded-2xl border border-zinc-200 dark:border-zinc-800 *:mb-1">
                <p>
                    <span class="font-bold mr-1 text-red-700">КОНКРЕТИЗАЦИЈА: </span>
                    Студенти су захтевали да се објави комплетна документација у вези са реконструкцијом Железничке станице у Новом Саду. Првобитни одговор на овако постављен захтев био је да документацијом располаже само Тужилаштво, да би убрзо након тога она била непотпуно објављена од стране других државних органа. Наше колеге са техничких факултета, као и са Удружења архитеката Србије, уочиле су да у објављеним документима недостаје кључна документација неопходна за утврђивање кривичне одговорности лица која су руководила реконструкцијом Железничке станице и била на њој ангажована.
                </p>
                <p>
                    Конкретно недостају уговори који показују ко је шта радио на Железничкој станици и колико је то коштало, зашто је цена реконструкције скочила пет пута, као и ко је одговоран што је Железничка станица два пута свечано отварана без употребне дозволе.
                </p>
            </div>
        </div>

        <div class="flex flex-col mb-6">
            <div class="text-5xl md:text-5xl font-bold text-center mb-2 text-red-700">
                II.
            </div>
            <p class="text-lg md:text-2xl text-center font-bold mb-4">
                Захтевамо потврду надлежних органа о идентитету цвих лица за која постоји основана сумња да су физички напала студенте и професоре, као и покретање кривичних поступака против њих. Такође захтевамо разрешење поменутих лица уколико се покаже да су иста јавни функционери.
            </p>

            <div class="px-8 py-6 rounded-2xl border border-zinc-200 dark:border-zinc-800 *:mb-1">
                <p>
                    <span class="font-bold mr-1 text-red-700">КОНКРЕТИЗАЦИЈА: </span>
                    Због неажурности МУП-а у погледу наведеног захтева, редовни професор и декан Факултета драмских уметности (ФДУ) је 2.12.2024. у име факултета поднео кривичну пријаву Трећем основном јавном тужилаштву. Поднета кривична пријава се односи на лица за која постоји основана сумња да су дана 22.11.2024. физички насрнула на студенте и професоре поменутог факултета, те да су извршила кривично дело Насилничко понашање на јавном скупу или спортској приредби.<sup>1</sup>
                </p>
                <p>
                    Наведена лица, која је идентификовало Више јавно тужилаштво у Београду, су:
                </p>
                <ul class="list-decimal ml-12">
                    <li>Милија Колџић</li>
                    <li>Александар Јокић</li>
                    <li>Душан Костић</li>
                    <li>Милена Алексић</li>
                    <li>Иван Станишић</li>
                </ul>
                <p class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">
                    Поменути захтев се односи како на наведена лица, тако и на свако будуће лице које буде физички напало студенте и професоре и сва друга лица која учествују у мирним грађанским окупљањима.
                </p>
                <p>
                    Према информацијама доступним јавности, исти захтев це проширује и на лица чији идентитет још увек није потврђен од стране надлежних органа, а за која се сумња да су:
                </p>
                <ul class="list-decimal ml-12">
                    <li>Татјана Макевић Николић</li>
                    <li>Дражен Ђурђић, председник општине Сремски Карловци</li>
                    <li>Миљан Врачаревић</li>
                </ul>
                <hr class="w-1/2 border border-zinc-200 dark:border-zinc-800 mt-4" />
                <p class="font-bold">
                    <sup class="font-normal">1</sup>Кривични законик - КЗ РС, Сл. гласник РС, бр. 85/2005, 88/2005 - испр., 107/2005 - испр., 72/2009, 111/2009, 121/2012, 104/2013, 108/2014, 94/2016, 35/2019 и 94/2024, чл. 344, чл. 344а.
                </p>
            </div>
        </div>

        <div class="flex flex-col mb-6">
            <div class="text-5xl md:text-5xl font-bold text-center mb-2 text-red-700">
                III.
            </div>
            <p class="text-lg md:text-2xl text-center font-bold mb-4">
                Одбацивање кривичних пријава против ухапшених и приведених студената на протестима, као и обуставу већ покренутих кривичних поступака.
            </p>

            <div class="px-8 py-6 rounded-2xl border border-zinc-200 dark:border-zinc-800 *:mb-1">
                <p>
                    <span class="font-bold mr-1 text-red-700">КОНКРЕТИЗАЦИЈА: </span>
                    У претходном периоду представници власти су констатовали да су сви учесници грађанских протеста пуштени на слободу. Међутим, то се не сматра испуњењем захтева.
                </p>
                <p>
                    Разлог који стоји иза иза тога јесте тај што пуштање на слободу из притвора не гарантује да та лица неђе бити кривично гоњена, нити да против њих неђе бити донета осуђујућа пресуда. У складу с изнетим, захтевамо да се против свих студената и професора учесника грађанских протеста одбаце кривичне пријаве, а уколико је кривични поступак у току, да се исти обустави.
                </p>
            </div>
        </div>

        <div class="flex flex-col mb-6">
            <div class="text-5xl md:text-5xl font-bold text-center mb-2 text-red-700">
                IV.
            </div>
            <p class="text-lg md:text-2xl text-center font-bold mb-4">
                Повећање издвојених средстава за државне факултете у износу од 20%.
            </p>
        </div>
    </div>
</BaseLayout>
