---
import BaseLayout from '../BaseLayout.astro'
import Naslov from '../components/Naslov.astro'
import Zahtevi from '../components/Zahtevi.astro'
import Broj from '../components/Broj.astro'
import Zahtev from '../components/Zahtev.astro'
import Konkretizacija from '../components/Konkretizacija.astro'
import Fusnote from '../components/Fusnote.astro'
---

<BaseLayout
    lang="sr-Latn-CS"
    title="STUDENTSKI ZAHTEVI"
    description="Konkretizovani zahtevi studenata Srbije koji su u blokadama od novembra 2024. godine."
    >
    <Naslov>Zahtevi studenata u blokadama</Naslov>
    <Zahtevi>
        <div class="stagger-container-1 flex flex-col mb-6">
            <Broj>
                I.
            </Broj>
            <Zahtev>
                Objava celokupne dokumentacije koja se tiče rekonstruisanja železničke stanice u Novom Sadu koja je trenutno nedostupna javnosti.
            </Zahtev>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">KONKRETIZACIJA: </span>
                    Studenti su zahtevali da se objavi kompletna dokumentacija u vezi sa rekonstrukcijom Železničke stanice u Novom Sadu. Prvobitni odgovor na ovako postavljen zahtev bio je da dokumentacijom raspolaže samo Tužilaštvo, da bi ubrzo nakon toga ona bila nepotpuno objavljena od strane drugih državnih organa. Naše kolege sa tehničkih fakulteta, kao i sa Udruženja arhitekata Srbije, uočile su da u objavljenim dokumentima nedostaje ključna dokumentacija neophodna za utvrđivanje krivične odgovornosti lica koja su rukovodila rekonstrukcijom Železničke stanice i bila na njoj angažovana.
                </p>
                <p>
                    Konkretno nedostaju ugovori koji pokazuju ko je šta radio na Železničkoj stanici i koliko je to koštalo, zašto je cena rekonstrukcije skočila pet puta, kao i ko je odgovoran što je Železnička stanica dva puta svečano otvarana bez upotrebne dozvole.
                </p>
            </Konkretizacija>
        </div>

        <div class="stagger-container-2 flex flex-col mb-6">
            <Broj>
                II.
            </Broj>
            <Zahtev>
                Zahtevamo potvrdu nadležnih organa o identitetu svih lica za koja postoji osnovana sumnja da su fizički napala studente i profesore, kao i pokretanje krivičnih postupaka protiv njih. Takođe zahtevamo razrešenje pomenutih lica ukoliko se pokaže da su ista javni funkcioneri.
            </Zahtev>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">KONKRETIZACIJA: </span>
                    Zbog neažurnosti MUP-a u pogledu navedenog zahteva, redovni profesor i dekan Fakulteta dramskih umetnosti (FDU) je 2.12.2024. u ime fakulteta podneo krivičnu prijavu Trećem osnovnom javnom tužilaštvu. Podneta krivična prijava se odnosi na lica za koja postoji osnovana sumnja da su dana 22.11.2024. fizički nasrnula na studente i profesore pomenutog fakulteta, te da su izvršila krivično delo Nasilničko ponašanje na javnom skupu ili sportskoj priredbi.<sup>1</sup>
                </p>
                <p>
                    Navedena lica, koja je identifikovalo Više javno tužilaštvo u Beogradu, su:
                </p>
                <ul class="list-decimal ml-12 2xl:ml-20">
                    <li>Milija Koldžić</li>
                    <li>Aleksandar Jokić</li>
                    <li>Dušan Kostić</li>
                    <li>Milena Aleksić</li>
                    <li>Ivan Stanišić</li>
                </ul>
                <p class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">
                    Pomenuti zahtev se odnosi kako na navedena lica, tako i na svako buduće lice koje bude fizički napalo studente i profesore i sva druga lica koja učestvuju u mirnim građanskim okupljanjima.
                </p>
                <p>
                    Prema informacijama dostupnim javnosti, isti zahtev se proširuje i na lica čiji identitet još uvek nije potvrđen od strane nadležnih organa, a za koja se sumnja da su:
                </p>
                <ul class="list-decimal ml-12 2xl:ml-20">
                    <li>Tatjana Makević Nikolić</li>
                    <li>Dražen Đurđić, predsednik opštine Sremski Karlovci</li>
                    <li>Miljan Vračarević</li>
                    <li>Predrag Veselinović</li>
                    <li>Mladen Radenković, načelnik odeljenja za javni red i mir PU Beograd</li>
                    <li>Aleksandar Čavić, odbornik u Skupštini grada Beograda</li>
                    <li>Petar Čavić</li>
                    <li>Gavrilo Kovačević, predsednik gradske opštine Zemun</li>
                    <li>Dejan Paunović, poverenik opštinskog odbora Rakovica</li>
                    <li>Igor Ćogić</li>
                    <li>Vesna Čingelić, članica Veća opština Rakovica</li>
                    <li>Ćoko Nenadić</li>
                    <li>Stefan Pantelić Stefanović, član Veća Gradske opštine Novi Beograd</li>
                    <li>Luka Roganović</li>
                </ul>
                <p>
                    Pored pokretanja krivičnog postupka protiv lica koja su fizički napadala profesore i studente, i za koja će se to tek potvrditi, a ako se ispostavi da su ta lica javni funkcioneri, u smislu čl. 2, st. 1, tač. 3-4 Zakona o sprečavanju korupcije<sup>2</sup> i čl. 112, st. 3 Krivičnog zakonika,<sup>3</sup> uporedo zahtevamo da se ista razreše dužnosti.
                </p>
                <hr class="w-1/2 border border-zinc-200 dark:border-zinc-800 mt-4" />
                <Fusnote>
                    <span><sup class="font-normal">1</sup> Krivični zakonik - KZ RS, Sl. glasnik RS, br. 85/2005, 88/2005 - ispr., 107/2005 - ispr., 72/2009, 111/2009, 121/2012, 104/2013, 108/2014, 94/2016, 35/2019 i 94/2024, čl. 344, čl. 344a.</span>
                    <span><sup class="font-normal">2</sup> Zakon o sprečavanju korupcije, Sl. glasnik RS, br. 35/2019, 88/2019, 11/2021 - autentično tumačenje, 94/2021 i 12/2022, čl. 2, st. 1, tač. 2-3.</span>
                    <span><sup class="font-normal">3</sup> KZ RS, čl. 112, st. 3.</span>
                </Fusnote>
            </Konkretizacija>
        </div>

        <div class="stagger-container-3 flex flex-col mb-6">
            <Broj>
                III.
            </Broj>
            <Zahtev>
                Odbacivanje krivičnih prijava protiv uhapšenih i privedenih studenata na protestima, kao i obustavu već pokrenutih krivičnih postupaka.
            </Zahtev>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">KONKRETIZACIJA: </span>
                    U prethodnom periodu predstavnici vlasti su konstatovali da su svi učesnici građanskih protesta pušteni na slobodu. Međutim, to se ne smatra ispunjenjem zahteva.
                </p>
                <p class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">
                    Razlog koji stoji iza toga jeste taj što puštanje na slobodu iz pritvora ne garantuje da ta lica neće biti krivično gonjena, niti da protiv njih neće biti doneta osuđujuća presuda. U skladu s iznetim, zahtevamo da se protiv svih studenata i profesora učesnika građanskih protesta odbace krivične prijave, a ukoliko je krivični postupak u toku, da se isti obustavi.
                </p>
            </Konkretizacija>
        </div>

        <div class="stagger-container-4 flex flex-col mb-6">
            <Broj>
                IV.
            </Broj>
            <Zahtev>
                Povećanje izdvojenih sredstava za državne fakultete u iznosu od 20%.
            </Zahtev>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">KONKRETIZACIJA: </span>
                    Izdvajanja za visoko obrazovanje predviđena Zakonom o budžetu Republike Srbije za 2025. godinu iz izvora Opštih prihoda i primanja budžeta iznose
                    <span class="font-bold">60,15 milijardi dinara.</span>
                    U sastav izdvajanja za visoko obrazovanje ulaze stavke budžeta
                    <span class="italic">Više i univerzitetsko obrazovanje</span> (glava 26.5) i
                    <span class="italic">Kriminalističko policijski univerzitet </span> (glava 15.1).<sup>1</sup>
                </p>
                <p>
                    Studenti su sa punim pravom
                    <span class="font-bold">zahtevali </span>
                    povećanje u iznosu od 20% prethodno pomenutih sredstava (tj. povećanje za oko
                    <span class="font-bold">12,03 milijardi dinara,</span>
                    odnosno
                    <span class="font-bold">102,8 miliona evra</span>
                    ), koje bi nivo ulaganja u visoko obrazovanje približilo nivou ulaganja zemalja centralne i istočne Evrope (
                    <span class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">1,71% BDP</span>
                    , prema metodologiji
                    <span class="italic">OECD</span>
                    ).<sup>2 3</sup>
                </p>
                <p class="font-bold">
                    Zašto zahtev nije ispunjen?
                </p>
                <p>
                    Najavljeno je povećanje "materijalnih troškova" za 20% koje bi dovelo do povećanja ukupnog budžeta u iznosu od tek 4% (tj. 22 miliona evra).
                    <span class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">"Materijalni troškovi", dakle, označavaju <span class="font-bold">tek segment budžeta</span> za <span class="italic">Više i univerzitetsko obrazovanje</span></span>
                </p>
                <p>
                    Umesto zahtevanog poboljšanja kvaliteta visokog obrazovanja, deo javnosti doveden je u zabludu da je zahtev ispunjen.<sup>4</sup>
                </p>
                <p class="text-center font-bold text-red-700">
                    Obrazloženje zahteva
                </p>
                <p>
                    Dostupnost, pristupačnost i kvalitet visokog obrazovanja su standard progresivnog društva i njegovo finansiranje ne sme biti upitno. Država je dužna da obezbedi uslove u kojima je visoko obrazovanje izbor koji je dostupan svima, uz kvalitet koji je konkurentan na svetskim rang-listama univerziteta. Prebacivanjem finansijskog tereta sa studenata na primanja iz budžeta značajno bi se olakšali uslovi studiranja na svim nivoima studija, te bi se omogućila veća participacija finansijski ugroženih kategorija društva u visokom obrazovanju.
                </p>
                <p>
                    Stoga,
                    <span class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">zahtevamo</span>
                    uvođenje
                    <span class="font-bold">novog davanja </span>
                    koje bi, nakon izmene i dopune Zakona o visokom obrazovanju, fakultetima obezbedilo sredstva
                    <span class="font-bold">u visini od 50% ukupne vrednosti ESPB bodova </span>
                    koje bi studenti inače plaćali. Time bi se izdvajanja za visoko obrazovanje povećala,
                    <span class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">bez promene same cene ESPB boda </span>
                    (koju određuju fakulteti), a
                    <span class="font-bold">studenti bi plaćali 50% nižu školarinu od celokupnog iznosa. </span>
                    Smatramo da je ovo prvi korak ka besplatnom obrazovanju. Dalje, zahtevamo da se ostatak sredstava ravnomerno raspodeli između ostalih stavki budžetskih glava
                    <span class="italic">Studentski standard </span> i <span class="italic">Više i univerzitetsko obrazovanje, </span>
                    izuzimajući zarade i dr. prihode zaposlenih.
                </p>
                <hr class="w-1/2 border border-zinc-200 dark:border-zinc-800 mt-4" />
                <Fusnote>
                    <span><sup>1</sup> ZAKON O BUDŽETU, ("Sl. glasnik RS", br. 94/2024)</span>
                    <span><sup>2</sup> OECD (2024), <span class="italic">Education at a Glance 2024: OECD Indicators,</span> OECD Publishing, Paris</span>
                    <span><sup>3</sup> OECD (2018), <span class="italic">OECD Handbook for Internationally Comparative Education Statistics 2018: Concepts, Standards, Definitions, and Classifications,</span> OECD Publishing, Paris (podatak ne uključuje sredstva izdvojena na nauku i istraživanja)</span>
                    <span><sup>4</sup> Takođe, rešenje koje bi dovelo do pomenutog povećanja nije javno dostupno na dan pisanja teksta (30.12.2024).
                </Fusnote>
            </Konkretizacija>
        </div>
    </Zahtevi>
</BaseLayout>

<script is:inline type="module" data-astro-rerun>
    const { animate, inView, stagger } = Motion
    for (let i = 1; i < 5; i++) {
        inView(".stagger-container-" + i, ({ target }) => {
            animate(".stagger-container-" + i + "> .stagger-in",
                { opacity: [0, 1]},
                { delay: stagger(0.3), duration: 0.6},
                { ease: [0.39, 0.24, 0.3, 1] },
            );
        })
    }
    inView(".fade-in", ({ target }) => {
        animate(target,
         	{ opacity: [0, 1]},
      		{ duration: 0.6},
            { ease: [0.39, 0.24, 0.3, 1] },
        );
    })
</script>
