---
import BaseLayout from '../BaseLayout.astro'
import Konkretizacija from '../components/Konkretizacija.astro'
---

<BaseLayout
    lang="sr"
    title="STUDENTSKI ZAHTEVI"
    description="Konkretizovani zahtevi studenata Srbije koji su u blokadama od novembra 2024."
    >
    <h1 class="fade-in font-bold text-4xl md:text-6xl text-center mb-6">Zahtevi studenata u blokadama:</h1>
    <div class="flex flex-col gap-6 max-w-3xl mx-auto">

        <div class="stagger-container-1 flex flex-col mb-6">
            <div class="stagger-in text-5xl md:text-5xl font-bold text-center mb-2 text-red-700">
                I.
            </div>
            <p class="stagger-in text-xl md:text-2xl text-center font-bold mb-4">
                Objava celokupne dokumentacije koja se tiče rekonstruisanja železničke stanice u Novom Sadu koja je trenutno nedostupna javnosti.
            </p>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">KONKRETIZACIJA: </span>
                    Studenti su zahtevali da se objavi kompletna dokumentacija u vezi sa rekonstrukcijom Železničke stanice u Novom Sadu. Prvobitni odgovor na ovako postavljen zahtev bio je da dokumentacijom raspolaže samo Tužilaštvo, da bi ubrzo nakon toga ona bila nepotpuno objavljena od strane drugih državnih organa. Naše kolege sa tehničkih fakulteta, kao i sa Udruženja arhitekata Srbije, uočile su da u objavljenim dokumentima nedostaje ključna dokumentacija neophodna za utvrđivanje krivične odgovornosti lica koja su rukovodila rekonstrukcijom Železničke stanice i bila na njoj angažovana.
                </p>
                <p>
                    Konkretno nedostaju ugovori koji pokazuju ko je šta radio na Železničkoj stanici i koliko je to koštalo, zašto je cena rekonstrukcije skočila pet puta, kao i ko je odgovoran što je Železnička stanica dva puta svečano otvarana bez upotrebne dozvole.
                </p>
            </Konkretizacija>
        </div>

        <div class="stagger-container-2 flex flex-col mb-6">
            <div class="stagger-in text-5xl md:text-5xl font-bold text-center mb-2 text-red-700">
                II.
            </div>
            <p class="stagger-in text-xl md:text-2xl text-center font-bold mb-4">
                Zahtevamo potvrdu nadležnih organa o identitetu svih lica za koja postoji osnovana sumnja da su fizički napala studente i profesore, kao i pokretanje krivičnih postupaka protiv njih. Takođe zahtevamo razrešenje pomenutih lica ukoliko se pokaže da su ista javni funkcioneri.
            </p>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">KONKRETIZACIJA: </span>
                    Zbog neažurnosti MUP-a u pogledu navedenog zahteva, redovni profesor i dekan Fakulteta dramskih umetnosti (FDU) je 2.12.2024. u ime fakulteta podneo krivičnu prijavu Trećem osnovnom javnom tužilaštvu. Podneta krivična prijava se odnosi na lica za koja postoji osnovana sumnja da su dana 22.11.2024. fizički nasrnula na studente i profesore pomenutog fakulteta, te da su izvršila krivično delo Nasilničko ponašanje na javnom skupu ili sportskoj priredbi.<sup>1</sup>
                </p>
                <p>
                    Navedena lica, koja je identifikovalo Više javno tužilaštvo u Beogradu, su:
                </p>
                <ul class="list-decimal ml-12">
                    <li>Milija Koldžić</li>
                    <li>Aleksandar Jokić</li>
                    <li>Dušan Kostić</li>
                    <li>Milena Aleksić</li>
                    <li>Ivan Stanišić</li>
                </ul>
                <p class="underline underline-offset-4 decoration-zinc-400 dark:zinc-500">
                    Pomenuti zahtev se odnosi kako na navedena lica, tako i na svako buduće lice koje bude fizički napalo studente i profesore i sva druga lica koja učestvuju u mirnim građanskim okupljanjima.
                </p>
                <p>
                    Prema informacijama dostupnim javnosti, isti zahtev ce proširuje i na lica čiji identitet još uvek nije potvrđen od strane nadležnih organa, a za koja se sumnja da su:
                </p>
                <ul class="list-decimal ml-12">
                    <li>Tatjana Makević Nikolić</li>
                    <li>Dražen Đurđić, predsednik opštine Sremski Karlovci</li>
                    <li>Miljan Vračarević</li>
                </ul>
                <hr class="w-1/2 border border-zinc-200 dark:border-zinc-800 mt-4" />
                <p class="font-bold">
                    <sup class="font-normal">1</sup>Krivični zakonik - KZ RS, Sl. glasnik RS, br. 85/2005, 88/2005 - ispr., 107/2005 - ispr., 72/2009, 111/2009, 121/2012, 104/2013, 108/2014, 94/2016, 35/2019 i 94/2024, čl. 344, čl. 344a.
                </p>
            </Konkretizacija>
        </div>

        <div class="stagger-container-3 flex flex-col mb-6">
            <div class="stagger-in text-5xl md:text-5xl font-bold text-center mb-2 text-red-700">
                III.
            </div>
            <p class="stagger-in text-xl md:text-2xl text-center font-bold mb-4">
                Odbacivanje krivičnih prijava protiv uhapšenih i privedenih studenata na protestima, kao i obustavu već pokrenutih krivičnih postupaka.
            </p>

            <Konkretizacija>
                <p>
                    <span class="font-bold mr-1 text-red-700">KONKRETIZACIJA: </span>
                    U prethodnom periodu predstavnici vlasti su konstatovali da su svi učesnici građanskih protesta pušteni na slobodu. Međutim, to se ne smatra ispunjenjem zahteva.
                </p>
                <p>
                    Razlog koji stoji iza iza toga jeste taj što puštanje na slobodu iz pritvora ne garantuje da ta lica neđe biti krivično gonjena, niti da protiv njih neđe biti doneta osuđujuća presuda. U skladu s iznetim, zahtevamo da se protiv svih studenata i profesora učesnika građanskih protesta odbace krivične prijave, a ukoliko je krivični postupak u toku, da se isti obustavi.
                </p>
            </Konkretizacija>
        </div>

        <div class="fade-in flex flex-col mb-6">
            <div class="text-5xl md:text-5xl font-bold text-center mb-2 text-red-700">
                IV.
            </div>
            <p class="text-lg md:text-2xl text-center font-bold mb-4">
                Povećanje izdvojenih sredstava za državne fakultete u iznosu od 20%.
            </p>
        </div>
    </div>
</BaseLayout>

<script is:inline type="module" data-astro-rerun>
    const { animate, inView, stagger } = Motion
    for (let i = 1; i < 4; i++) {
        inView(".stagger-container-" + i, ({ target }) => {
            animate(".stagger-container-" + i + "> .stagger-in",
                { opacity: [0, 1]},
                { delay: stagger(0.3), duration: 0.6},
                { ease: [0.39, 0.24, 0.3, 1] },
            );
        })
    }
    inView(".fade-in", ({ target }) => {
        animate(target,
         	{ opacity: [0, 1]},
      		{ duration: 0.6},
            { ease: [0.39, 0.24, 0.3, 1] },
        );
    })
</script>
